/* Constant display */
header{
  background: blue;
  margin-top: 5px;
}

body{
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}

main{
  background: brown;
}

.title{
  font-size: 48;
  text-align: center;
}



/* Login page*/
.guestLogin{
  float: left;
  background: green;
  width: 50%;
  height: 200px;
  text-align: center;
}

.accountLogin{
  background: yellow;
  height: 200px;
  text-align: center;
}

/* Lobby page */
.lobbyMembers{
  float: left;
  background: green;
  width: 50%;
  height: 200px;
}

#head{
  font-size: 24;
  text-align: center;
  margin-top: 10px;
}

.accountDetails{
  background: yellow;
  height: 200px;
  text-align: center;
}


/* Game page */
.redPiece{
  height: 60px;
  width: 60px;
}

.blackPiece{
  height: 60px;
  width: 60px;
}

.board{
  border-spacing: 0px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.black{
  background: peru;
  width: 90px;
  height: 90px;
}

.white{
  background-color: white;
  width: 90px;
  height: 90px;
}
